---
title: GitLab with Git Basics Training
suppress_header: true
description: "GitLab with Git Basics Training"
extra_css:
  - services.css
---

.blank-header
  %img.image-border.image-border-left{ src: "/images/home/icons-pattern-left.svg", alt: "Gitlab hero border pattern left svg" }
  %img.image-border.image-border-right{ src: "/images/home/icons-pattern-right.svg", alt: "Gitlab hero border pattern right svg" }
  .header-content
    %h1 GitLab Education

.wrapper
  .page-container.container
    = partial "includes/services/detail-tile", locals: { id: "training_sessions_basics" } 
    .row
      .col-md-12
        #syllabus
          %h2
            Syllabus
          %h3 Part 1: GitLab & GitLab Flow 
          %p.services-text
            A GitLab flow workshop helps your organization develop a good Git workflow.  Will cover the following topics: Workshop setup, “What is Git & GitLab?”, GitLab UI walkthrough, including: Projects, Issues, Merge Requests, Pipelines, Settings, User & Admin Area, Typical GitLab Workflow & Workshop.
          %h3 Part 2: Git Basics 
          %p.services-text
            A Git workshop covers fundamental Git concepts such as committing changes, branches, merge requests, merge conflicts, tags, cherry-picking, bisecting and rebasing.
        #resources
          %h2
            Pre-training Resources
          %p.services-text
            These resources act as prerequisites to the training and will help ensure you have a successful training session with the GitLab team.
          %ul
            %li.services-text 
              %a{href: 'https://www.youtube.com/watch?v=j16QHjv29A0'} Why you should move to Git
